# Editor specific
.idea
.vscode

# General files
*~
*.DS_STORE

# Public
public

# NPM
node_modules
npm-debug.log

# Next.JS
.next/
.slicemachine/

# App Logs
*.log

# App Build
build/*

# Next config
next.config.js