@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'whyte';
  src: url('/public/fonts/gilroy/whyte-black.woff2') format('woff2'),
    url('/public/fonts/gilroy/whyte-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #eee8e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #eee8e2;
  }
}

body {
  background-color: var(--background-color);
  transition: 0.3s ease-in-out;
}

h1 {
  font-family: 'whyte';
}
