@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFE7CB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #FFE7CB;
  }
}

body {
  background-color: var( --background-color);
  transition: 0.3s ease-in-out;
}
