@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BertiogaSans-light";
  src: url("../public/fonts/BertiogaSans/BertiogaSans-Light.woff2")
      format("woff2"),
    url("../public/fonts/BertiogaSans/BertiogaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BertiogaSans-regular";
  src: url("../public/fonts/BertiogaSans/BertiogaSans-Regular.woff2")
      format("woff2"),
    url("../public/fonts/BertiogaSans/BertiogaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BertiogaSans-medium";
  src: url("../public/fonts/BertiogaSans/BertiogaSans-Medium.woff2")
      format("woff2"),
    url("../public/fonts/BertiogaSans/BertiogaSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BertiogaSans-semibold";
  src: url("../public/fonts/BertiogaSans/BertiogaSans-SemiBold.woff2")
      format("woff2"),
    url("../public/fonts/BertiogaSans/BertiogaSans-SemiBold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BertiogaSans-bold";
  src: url("../public/fonts/BertiogaSans/BertiogaSans-Bold.woff2")
      format("woff2"),
    url("../public/fonts/BertiogaSans/BertiogaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #eee8e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #eee8e2;
  }
}

body {
  background-color: var(--background-color);
  transition: 0.3s ease-in-out;
}

h1 {
  font-family: "BertiogaSans-bold";
  font-size: 5rem;
}

p {
  font-family: "BertiogaSans-light";
  font-weight: 100;
}
